        /* Reset some default styles */
        
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* Navbar styles */
        
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* background-color: rgb(7, 7, 67); */
            background: rgb(2, 0, 36);
            background: linear-gradient(90deg, rgb(29, 20, 211) 0%, rgba(255, 255, 255, 0.286) 0%, rgba(14, 9, 121, 1) 58%);
            padding: 10px 20px;
            position: relative;
        }
        
        .navbar-brand {
            font-size: 24px;
            color: white;
            text-decoration: none;
        }
        
        .navbar-nav {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
        }
        
        .navbar-nav li {
            margin-left: 20px;
        }
        
        .navbar-nav li:last-child {
            margin-right: auto;
        }
        
        .navbar-nav a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
        
        .navbar-search {
            display: flex;
            align-items: center;
        }
        
        .navbar-search input[type="text"] {
            padding: 8px;
            border: none;
            border-radius: 4px;
        }
        
        .navbar-search button {
            padding: 8px 15px;
            background-color: white;
            border: none;
            border-radius: 4px;
            margin-left: 10px;
            cursor: pointer;
        }
        
        .navbar-signup {
            background-color: #ffcd1b;
            border: none;
            border-radius: 4px;
            padding: 10px 15px;
            font-size: 16px;
            color: white;
            /* border: black solid; */
            cursor: pointer;
        }
        
        .navbar-login {
            /* background-color: #ffcd1b; */
            border: none;
            border-radius: 4px;
            /* padding: 10px 15px; */
            /* border: black solid; */
            /* padding-left: 400px; */
            font-size: 16px;
            color: white;
            cursor: pointer;
            position: absolute;
            right: 0;
            margin-right: 120px;
            /* padding-right: 120px; */
        }
        
        .popup1 {
            display: none;
            z-index: 10;
            position: absolute;
            margin-left: 830px;
            margin-top: 70px;
            /* position: fixed; */
            /* margin-left: 400px;
            margin-top: 200px; */
            /* width: 100%; */
            /* height: 100%; */
            /* background-color: rgb(36, 225, 39); */
        }
        
        .popup1 iframe {
            z-index: 20;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            text-decoration-color: aliceblue;
            /* scrolling: "no"; */
            overflow-y: scroll;
            /* overflow: hidden; */
            /* border: solid black; */
            /* background-color: rgba(14, 9, 121, 0.4); */
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 255, 128, 0.2863270308123249) 0%, rgba(14, 9, 121, 1) 93%);
        }
        
        .close-btn1 {
            position: absolute;
            margin-top: -75px;
            margin-left: -150px;
        }
        
        .container {
            /* text-align: right; */
            /* padding-top: 50px; */
            padding-bottom: 50px;
            padding-right: 170px;
            /* Aligns the content within the container to the right */
            background: linear-gradient(90deg, rgba(2, 0, 36, 0.687) 0%, rgba(106, 0, 255, 0.838) 0%, rgba(15, 9, 121, 0) 80%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 89vh;
        }
        
        video {
            /* override other styles to make responsive */
            width: 100% !important;
            height: auto !important;
        }
        
        .iframe-container {
            display: inline-block;
            /* Allows the container to take only the necessary width */
            /* Adds rounded corners to the iframe container */
            overflow: hidden;
            z-index: -1;
            position: absolute;
            margin-right: auto;
            /* margin-top: 100px; */
            /* Ensures that the iframe content stays within the rounded corners */
            /* position: absolute; */
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
            background-size: cover;
            overflow: hidden;
        }
        
        .center-white {
            display: flex;
            justify-content: space-between;
            background-color: white;
            padding: 20px;
        }
        
        .vision-block-container {
            display: flex;
            justify-content: space-between;
            background-color: white;
            padding: 20px;
        }
        
        .column {
            flex: 1;
            padding: 10px;
            text-align: center;
        }
        
        .column-service {
            flex: 1;
            padding: 10px;
            text-align: center;
        }
        
        .column-service img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
        
        .column img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
        }
        
        .column p {
            margin-top: 10px;
        }
        
        .block {
            display: flex;
        }
        /* Style for each block */
        
        .block-1,
        .block-2 {
            flex: 1;
            padding: 20px;
            /* Add padding */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: white;
        }
        /* Style for big font text */
        
        .big-font {
            font-size: 24px;
            font-weight: bold;
            /* Add bold font */
            margin-bottom: 10px;
            margin-top: 30px;
            /* Add margin-top */
            font-family: 'Arial', sans-serif;
            /* Customize font family */
        }
        /* Style for button */
        
        .explore-button {
            background-color: blue;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 20px;
        }
        /* Keep your existing styles */
        
        .vision-block {
            flex: 1;
            /* padding-top: -2000px; */
            padding: 20px;
            /* Add padding */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: rgb(0, 0, 0);
            background-color: rgb(255, 255, 255);
        }
        
        .block-1 {
            background-color: rgb(28, 28, 242);
        }
        
        .block-2 {
            background-color: rgba(8, 8, 107, 0.865);
        }
        /* Additional styles for the footer */
        /* Additional styles for the footer */
        /* Additional styles for the footer */
        
        .about-container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            padding: 50px 50px 50px 50px;
        }
        
        .about-content {
            text-align: center;
            font-family: 'Borel', sans-serif;
        }
        
        .about-content h2 {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .about-content p {
            font-weight: bold;
            font-size: 18px;
            line-height: 1.5;
        }
        
        .center-content {
            text-align: center;
            padding: 40px;
            background-color: rgba(11, 11, 174, 0.815);
            border: #333;
            border-radius: 20px;
        }
        
        .center-content h2 {
            position: relative;
            display: inline-block;
            font-size: 28px;
        }
        
        .center-content h2::after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 50%;
            transform: translateX(-50%);
            width: 50px;
            height: 3px;
            background-color: #333;
        }
        
        .center-content p {
            margin: 20px 0;
            font-size: 16px;
            line-height: 1.5;
        }
        
        .center-content button {
            display: inline-block;
            background-color: #333;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        
        .popup-box {
            display: flex;
            flex-direction: row;
            border: black solid;
            background-color: red;
            margin-left: 1200px;
        }
        
        .footer {
            background-color: #fbfbfb;
            /* Choose your background color */
            padding: 40px 0;
            color: white;
        }
        /* Flex container for footer columns */
        
        .flex-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            /* Allow columns to wrap on smaller screens */
        }
        /* Styles for each footer section */
        
        .col-lg-4 {
            flex: 1;
            /* Equal width for each section */
            margin-bottom: 20px;
            /* border: 1px solid black; */
            /* Border style */
            padding: 70px;
            display: flex;
            flex-direction: column;
        }
        
        .footer-heading {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .footer-info {
            margin-bottom: 10px;
        }
        
        .footer-icon {
            margin-right: 10px;
        }
        
        .footer-link {
            display: block;
            color: white;
            margin-bottom: 10px;
            text-decoration: none;
        }
        
        .footer-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }
        
        .footer-btn1 {
            background-color: #ffcd1b;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            /* Increase padding for larger button */
            font-size: 18px;
            /* Increase font size */
            color: white;
            cursor: pointer;
            margin-left: 10px;
            text-align: center;
            /* Align text to the center */
            display: block;
            /* Display as a block to center-align text */
            width: 100%;
            /* Occupy full width of its container */
            box-sizing: border-box;
            /* Include padding and border in width calculation */
        }
        
        .footer-btn2 {
            background-color: #ffcd1b;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            /* Increase padding for larger button */
            font-size: 18px;
            /* Increase font size */
            color: white;
            cursor: pointer;
            margin-left: 10px;
            text-align: center;
            /* Align text to the center */
            display: block;
            /* Display as a block to center-align text */
            width: 100%;
            /* Occupy full width of its container */
            box-sizing: border-box;
            /* Include padding and border in width calculation */
        }
        
        .footer-container {
            /* text-align: right; */
            /* padding-top: 50px; */
            padding-bottom: 50px;
            padding-right: 170px;
            /* Aligns the content within the container to the right */
            /* background: linear-gradient(90deg, rgba(2, 0, 36, 0.687) 0%, rgba(106, 0, 255, 0.838) 0%, rgba(15, 9, 121, 0) 80%); */
            background-color: rgba(11, 11, 174, 0.858);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 50vh;
        }